.contact {

   &__container {
      display: grid;
      grid-template-columns: 1fr;
      gap: toRem(30);
      align-items: center;

      @media (min-width: $tablet-min) {
         grid-template-columns: 1fr 1fr;
         min-height: calc(100svh - 116px);

      }

   }

   &__info {
      flex: 0 1 55%;
      margin: 0 auto;

      @media (min-width: $tablet-min) and (max-width: $desktop-min) {
         flex: 0 1 45%;
      }
   }

   &__form-wrapper {
      flex: 0 1 45%;
      width: 100%;
      padding: toRem(60) toRem(30) toRem(80) toRem(30);
      background-color: rgb(29 29 29 / 19%);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: toRem(580);
      margin: 0 auto;

      @media (min-width: $tablet-min) and (max-width: $desktop-min) {
         flex: 0 1 55%;
      }

   }

   &__form-title {
      font-size: toRem(28);
      padding-bottom: toRem(30);
      text-align: left;
      width: 100%;
      max-width: toRem(500);
   }

   &__details {
      display: flex;
      gap: toRem(20);
      flex-direction: column;

      @media(min-width: $small-mobile-min) {
         flex-direction: row;

      }
   }

   &__details-item {
      display: flex;
      gap: toRem(10);

   }
}